.main.main-page {
    background-color: #f7f7f7fc;
}

.user-info-col {
    text-align: center;
}

.left-info-user {
    padding-top: 100px;
}

.top-left-info {
    padding: 20px;
}

.bottom-left-info {
    padding: 20px;
}

.username-info {
    font-size: 50px;
}

.level-user-info {
    color: #908e8e;
    font-size: 30px;
}

.cell-right-info {
    min-height: 80px;
    padding: 20px 0;
}

.title-info-cell {
    color: #908e8e;
    margin-bottom: 10px;
}

.info-user-detail {
    font-weight: 700;
    font-size: 20px;
}

.img-avatar-profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.middle-info-user {
    padding: 30px;
}

.avatar-profile {
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    border: 3px solid white;
}

.row-info-user-custom {
    width: 1200px;
    margin: 0 auto;
}

hr.hr-user-info {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: 2px solid #999;
    color: #333;
    width: 60%;
    text-align: center;
}

hr.hr-user-info:after {
    content: "...";
    display: inline-block;
    position: relative;
    bottom: 33px;
    font-size: 30px;
    padding: 0 10px;
    background-color: #f7f7f7fc;
}

.overview-level {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
}

.label-update-avatar {
    color: black;
    font-weight: 600;
}

.progressbar-text {
    text-align: center;
}

.info-result-user-area {
    width: 800px;
}

.total-overview {
    font-size: 40px;
    color: black;
    font-weight: 700;
}

.name-level {
    font-size: 20px;
    color: #908e8e;
}


.hr-progress-info {
    color: red;
    overflow: visible;
    padding: 0;
    border: none;
    border-top: 4px solid #f84545;
    width: 30px;
}

.reading-page {
    margin-top: 0;
}

.overview-level:hover {
    box-shadow: 0 0 100px 1px #f3bc65;
    background-color: #f7f7f7;
}


.overview-level:hover svg path {
    stroke-width: 4px;
}

.overview-level:hover .total-overview {
    color: #307bbb;
    font-size: 60px;
}

.overview-level:hover .name-level {
    font-weight: 600;
    color: black;
}

.form-update-avatar {
    margin-top: 30px;
}

.avatar-profile:hover {
    border: 3px solid #309f93;
    box-shadow: 0 0 100px 1px #309f93;
}

.avatar-profile:hover .img-avatar-profile {
    opacity: 0.8;
}

.right-info-user {
    padding-top: 20px;
}

.cell-right-info:hover {
    border: 2px solid #ccc;
}

.cell-right-info:hover .info-user-detail {
    color: #309f93;
    font-weight: 700;
}

.cell-right-info:hover .title-info-cell {
    color: #0a0a0a;
    font-weight: 600;
}